.home {
  padding: var(--spacing-3xl) var(--spacing-xl);
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-bg-light);
}

.home__main {
  display: flex;
  justify-content: space-between;
}

.home__title {
  width: 600px;
  font-size: 72px;
  font-weight: 400;
  color: var(--color-dark);
  margin-block: 0;

  &-italic {
    font-style: italic;
  }
}

.home__description {
  font-size: 18px;
  color: var(--color-dark);
  max-width: 550px;
}

.home__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__image-small {
  img {
    width: 168px;
    height: 100px;
    border-radius: 20px;
  }
}

.home__hashtags {
  ul {
    display: block;
    float: right;
    width: 220px;
  }

  li {
    padding: 10px;
    display: block;
    float: right;
  }

  &-item {
    margin: 3px;
    float: right;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 16px;
    font-size: 16px;
    color: var(--color-dark);
    text-align: center;
    border: 1px solid var(--color-dark);
  }
}

.home__hero {
  margin-top: var(--spacing-xl);
  width: 100%;
  height: 400px;
  background-image: url("/img/main-slider.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60px;
}

.home__hashtags-mobile {
  display: none;
}

@media (max-width: 768px) {
  .home__hero {
    background-image: url("/img/main-slider-tablet.jpg");
  }

  .home {
    display: block;
  }

  .home__main {
    display: block;
  }

  .home__image-small {
    display: none;
  }

  .home__hashtags {
    display: none;
  }

  .home__hashtags-mobile {
    display: block;
    list-style: none;
  }

  .home__hashtags-mobile li {
    list-style: none;
  }
  .home--favorites {
    display: none;
  }
}

@media (max-width: 425px) {
  .home__hero {
    background-image: url("/img/main-slider-mobile.jpg");
  }

  .home {
    padding: var(--spacing-md) var(--spacing-md);
  }
  .home__title {
    font-size: 38px;
    font-weight: 100;
    overflow-wrap: break-word;
    width: 100%;
  }

  .home__hashtags-mobile ul {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .home__hashtags-mobile li {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
  }
}
